*{
    margin: 5px;
    padding: 5px;
}
.body{
    border-style: border-box;
    border: 1px solid red;
    
}
.header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 15vh;
    /* overflow: auto; */
}
.bigRow{
    height: 40vh;
}
.hide{
    display: flex;
    flex-direction:column-reverse;
    justify-content: center;
    height: 35vh;
    overflow:auto;
    width:50vw;
    border: 1px solid green;
    padding-bottom: 5px;
}
.button{
        width: 150px;
        height: 50px;
        border-radius: 25px;
        font-size: 14px;
}