* {
    margin: 0px;
    padding: 0px;
}

body {
    background: linear-gradient(90deg, rgba(81,9,121,.7) 0%, rgba(255,0,219,.5) 100%);
}

#container {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100vw;
    gap: 15px;
}
#admin{
    color: white;
}

#nav {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 15px;
    height: 100vh;
    box-shadow: 3px 0px 10px rgb(0 0 0 / 0.2);
    background-color: rgba(0, 0, 0, 0.7);
    padding: 0px 10px;
    color: white;
}
#nav > div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
#nav > div > a {
    color:red;
}
img{
    height: 30px;
    border: 1px solid red;
    border-radius:25px;
}
.dashboard {
    min-height: 400px;
    width: 80%; 
}

.dashboard-table {
    margin: 0px 0px;
    width: 90%;
    border-collapse: collapse;
    border: 1px solid;
}

.table-data-container {
    display: flex;
    justify-content: center;
    height: 75vh;
}

.dashboard-table tr {
    height: 20%;
}

.dashboard-header {
    display: flex;
    justify-content: center;
}
.dashboard-header div {
    width: 90%;
    display: flex;
    justify-content: flex-end;
}

.ticket-data {
    line-height: 50px;
}

.pagination-container {
    width: 90%;
    display: flex;
    margin: auto;
    justify-content: flex-end;
}


.pagination-button {
    padding: 0px 5px;
    margin: 5px 2px;
    display: inline-block;
    outline: 0; 
    border: none;
    cursor: pointer;
    font-weight: 600;
    border-radius: 4px;
    font-size: 13px;
    height: 30px;
    background-color: #9147ff;
    color: white;
    padding: 0 10px;
}

.active {
    background-color: rgb(255,0,219);
}

.pagination button:hover {
    background-color: rgb(255,0,219);
    transition: .5s;
}

.modal-popup {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: lightblue;
    width: 100%;
    height: 100vh;
}

.root{
    position: relative;
}
.modal{
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.1);
    width: 100%;
    height: 100%;
    display: flex;
    
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
}
.modal > div {
    background-color: #fff;
    padding: 50px;
    border-radius: 10px;
    border: 2px solid blue;
}




