.dashboard-table {
    margin-top: 25px;
    width: 100%;
    /* Temporary Border For Better Visablility */
    border: 5px solid red;
    border-collapse: collapse;
}
.dashboard-header {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.ticket-data {
    height: 50px;
}

.ticket-data:hover {
    background-color: rgb(238, 236, 236);
    transition: 1s;
}


