* {
    margin: 0px;
    padding: 0px;
}

body {
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(81,9,121,1) 32%, rgba(255,0,219,1) 100%);
}

.dashboard {
    /* Temporary Border For Better Visablility */
    border: 3px solid red;
    min-height: 400px;
    /* margin: 5px 5px; */
    /* display: flex;
    flex-direction: column;
    width: 75%; */
}

.dashboard-table {
    margin: 0px 0px;
    width: 90%;
    /* Temporary Border For Better Visablility */
    border-collapse: collapse;
    border: 1px solid;


}

.table-data-container {
    display: flex;
    justify-content: center;
}

.dashboard-header {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

/* tr:nth-child(n + 10) {
    visibility: collapse;
} */

.ticket-data {
    line-height: 50px;
}

.pagination-container {
    width: 90%;
    display: flex;
    margin: auto;
    justify-content: flex-end;
}


.pagination-button {
    padding: 0px 5px;
    margin: 5px 2px;
    display: inline-block;
    outline: 0; 
    border: none;
    cursor: pointer;
    font-weight: 600;
    border-radius: 4px;
    font-size: 13px;
    height: 30px;
    background-color: #9147ff;
    color: white;
    padding: 0 10px;
}

.active {
    background-color: rgb(255,0,219);
}

.pagination button:hover {
    background-color: rgb(255,0,219);
    transition: .5s;
}

.modal-popup {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: lightblue;
    width: 100%;
    height: 100vh;
}

.root{
    position: relative;
}
.modal{
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.1);
    width: 100%;
    height: 100%;
    display: flex;
    
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
}
.modal > div {
    background-color: #fff;
    padding: 50px;
    border-radius: 10px;
    border: 2px solid blue;
}
